@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #3490dc;
    /* Blue */
    --secondary-color: #ffed4a;
    /* Yellow */
    --danger-color: #e3342f;
    /* Red */
    --background-color: #f7fafc;
    /* Light Gray */
    --text-color: #2d3748;
    /* Dark Gray */
  }

  body {
    @apply text-slate-600;
    background-color: var(--background-color);
    color: var(--text-color);
  }

  a {
    color: var(--primary-color);
    @apply hover:text-blue-700 transition-colors duration-300;
  }

  .btn-primary {
    @apply px-4 py-2 text-white rounded-lg cursor-pointer transition-colors duration-300 flex gap-2;
    background-color: var(--primary-color);
  }

  .btn-primary:hover {
    background-color: #2779bd;
    /* Darker shade of primary color */
  }

  .btn-primary:active {
    background-color: #1c3d5a;
    /* Even darker shade of primary color */
  }

  .btn-secondary {
    @apply px-4 py-2 bg-slate-300 text-black rounded-lg cursor-pointer transition-colors duration-300 flex gap-2;
  
  }

  .btn-secondary:hover {
   @apply bg-slate-400;
    /* Darker shade of secondary color */
  }

  .btn-secondary:active {
    @apply bg-slate-500;
    /* Even darker shade of secondary color */
  }

  .btn-danger {
    @apply px-4 py-2 text-white rounded-lg cursor-pointer transition-colors duration-300 flex gap-2;
    background-color: var(--danger-color);
  }

  .btn-danger:hover {
    background-color: #cc1c1c;
    /* Darker shade of danger color */
  }

  .btn-danger:active {
    background-color: #991111;
    /* Even darker shade of danger color */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  input,
  textarea,
  select {
    @apply p-2 bg-slate-100 rounded-lg border border-gray-300 focus:outline-none focus:ring-2;
    border-color: var(--primary-color);
  }

  li {
    @apply list-decimal;
  }

  select {
    @apply appearance-none;
  }

  h1 {
    @apply text-3xl font-bold;
    color: var(--primary-color);
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-lg font-bold;
  }

  h5 {
    @apply text-base font-bold;
  }

  h6 {
    @apply text-sm font-bold;
  }

  .progress-ring__circle {
    transition: stroke-dashoffset 0.5s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-slate-300 rounded-md;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-400 rounded-md;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-500;
  }
}